# macOS
.DS_Store

# Python bytecode/cache
__pycache__/
*.py[cod]
*$py.class

# Build/distribution artifacts
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg
wheels/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Tooling/test caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

# Notebooks
.ipynb_checkpoints/

# Editor settings
.vscode/
.idea/

# Logs
*.log
